*{
   
overflow: auto;
    
}

html{
    box-sizing: border-box;   
}

body{
    margin: 0;
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    background-repeat: no-repeat;
    
}

.wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
}
span{
    font-size: larger;
    color: gold;
}

h3{
    color: goldenrod;
}

header{
   background-color:rgb(29, 29, 29);
   
}

nav ul li{
    display: inline;
    margin: auto 10px;
   
}

a{
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    right: 300px;
}

.headers .navigation-bar{
    display: flex;
}

.burger{
    display: none;
}